{% extends "base.html" %}
{% block content %}
    <h1>Add Post</h1>
    <form action="" method="POST" name="{{url_for('add_post')}}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            Post Title:<br>
            {{form.title(size=80)}}
            {% for error in form.errors.title %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Enter post text:<br>
            {{form.body(rows=4, cols=80)}}<br>
            {% for error in form.errors.body %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Select Theme:<br>
            {{form.theme}}
            {% for error in form.errors.theme %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            <button class="btn btn-success" type="submit">Add Post</button>
        </p>
    </form>
{% endblock %}