{% extends "base.html" %}
{% block content %}
    <p>Post: <b>{{post.title}}</b></p>
    <br>

    <table style="width:100%; border: 1px solid black;">
        {% for answer in answers.items %}
            <tr>
                <td style="border: 1px solid black; width: 100px;">
                    <h3 style="text-align: center">{{answer.user.name}}</h3>
                    <br><br>
                    {% if answer.user.about_me %}
                        <div>{{answer.user.about_me}}</div>
                    {% endif %}
                </td>
                <td style="border: 1px solid black;">
                    {{answer.body}}
                    <hr>
                    <i>{{answer.timestamp}}</i>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>

    {% if answers.has_prev %}
        <a href="{{ url_for('answers', p_id=post.id, page = answers.prev_num) }}"><< Prev</a>
    {% else %}
        << Prev
    {% endif %} |
    {% if answers.has_next %}
        <a href="{{ url_for('answers', p_id=post.id, page = answers.next_num) }}">Next >></a>
    {% else %}
        Next >>
    {% endif %}

    {% if not answers.has_next and current_user.is_authenticated %}
        <br><br>
        <form action="" method="POST" name="{{url_for('answers', p_id=post.id)}}">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <p>
                {{form.body(rows=4, cols=80, placeholder="Add Answer")}}<br>
                {% for error in form.errors.body %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
            </p>
            <p>
                <button class="btn btn-success" type="submit">Add Answer</button>
            </p>
        </form>
    {% endif %}

{% endblock %}