<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Forum</title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> |
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">LogOut</a> |
                <a href="{{ url_for('member') }}">My Profile</a>
            {% else %}
                <a href="{{ url_for('login') }}">LogIn</a> |
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>