{% extends "base.html" %}
{% block content %}
    <h1>Edit Your Profile</h1>
    <form action="" method="POST" name="login">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            Please enter your Name:<br>
            {{form.name(value=current_user.name, size=80)}}
            {% for error in form.errors.name %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Please enter more information about you:<br>
            {{form.about_me(rows=4, cols=80)}}
            {% for error in form.errors.about_me %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            <button class="btn btn-success" type="submit">Save Changes!</button>
        </p>
    </form>
{% endblock %}