{% extends "base.html" %}
{% block content %}
    <table style="width:100%">
        <tr>
            <th>Theme</th>
            <th>last change</th>
        </tr>
        {% for theme in themes.items %}
        <tr>
            <td><a href="{{url_for('theme', t_id=theme.id)}}">{{theme.name}}</td>
            <td style="text-align: center">{{theme.timestamp}}</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    {% if themes.has_prev %}
        <a href="{{ url_for('index', page = themes.prev_num) }}"><< Prev</a>
    {% else %}
        << Prev
    {% endif %} |
    {% if themes.has_next %}
        <a href="{{ url_for('index', page = themes.next_num) }}">Next >></a>
    {% else %}
        Next >>
    {% endif %}
{% endblock %}