{% extends "base.html" %}
{% block content %}
    <h1>Please login</h1>
    <form action="" method="POST" name="login">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            Please enter your Email:<br>
            {{form.email(size=80)}}
            {% for error in form.errors.email %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Password:<br>
            {{form.password(size=80)}}
            {% for error in form.errors.password %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            <input type="submit" value="Log In">
        </p>
        <p>
            Need to <a href="{{ url_for('register') }}">Register</a>?
        </p>
    </form>
{% endblock %}