{% extends "base.html" %}
{% block content %}
    <h3>USER</h3>
    <ul>
        <li>Name: {{current_user.name}}</li>
        <li>Email: {{current_user.email}}</li>
        <li>Role: {{current_user.role.name}}</li>
        {% if current_user.about_me %}
            <li><p>About me: {{current_user.about_me}}</p></li>
        {% endif %}
        {% if current_user.last_seen %}
            <li><p><i>Last seen on: {{current_user.last_seen}}</i></p></li>
        {% endif %}
    </ul>
    <p><a href="{{url_for('edit_user')}}">Edit</a></p>

    <hr>

    <table style="width:100%">
        <tr>
            <th>Post</th>
            <th>Author</th>
            <th>Timestamp</th>
        </tr>
        {% for post in posts %}
            {% include 'post.html' %}
        {% endfor %}
    </table>

    <br><br>

    <a href="{{url_for('add_post')}}">Add new post</a>

{% endblock %}