
<tr valign="top">
    <td><a href="{{ url_for('answers', p_id=post.id) }}">{{post.title}}</a></td>
    <td style="text-align: center"><i>{{post.user.name}}</i></td>
    <td style="text-align: center"><i>{{post.timestamp}}</i></td>
</tr>
