{% extends "base.html" %}
{% block content %}
    <h1>Please Register</h1>
    <form action="" method="POST" name="login">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            Please enter your Name:<br>
            {{form.name(size=80)}}
            {% for error in form.errors.name %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Please enter your Email:<br>
            {{form.email(size=80)}}
            <br>
            {% for error in form.errors.email %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Please enter more information about you:<br>
            {{form.about_me(rows=4, cols=80)}}
            {% for error in form.errors.about_me %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Password:<br>
            {{form.password(size=80)}}
            {% for error in form.errors.password %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Confirm password:<br>
            {{form.confirm(size=80)}}
            {% for error in form.errors.confirm %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            <button class="btn btn-success" type="submit">Register!</button>
        </p>
        <br><br>
        <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a>.</p>
    </form>
{% endblock %}