{% extends "base.html" %}
{% block content %}
    <p>Theme: <b>{{theme.name}}</b></p>
    <br>

    <table style="width:100%">
        <tr>
            <th>Post</th>
            <th>Author</th>
            <th>Timestamp</th>
        </tr>
        {% for post in posts.items %}
            {% include 'post.html' %}
        {% endfor %}
    </table>
    <br>

    {% if posts.has_prev %}
        <a href="{{ url_for('theme', t_id=theme.id, page = posts.prev_num) }}"><< Prev</a>
    {% else %}
        << Prev
    {% endif %} |
    {% if posts.has_next %}
        <a href="{{ url_for('theme', t_id=theme.id, page = posts.next_num) }}">Next >></a>
    {% else %}
        Next >>
    {% endif %}

    <br><br>

    {% if current_user.is_authenticated %}
        <a href="{{url_for('add_post', t_id=theme.id)}}">Add new post</a>
    {% endif %}

{% endblock %}